.wrapper {
    background-image: url('./img/homebg.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.center-container {
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
    align-items: center;
    padding: 10%;
}

input {
    margin-bottom: 20px; /* Add some spacing between the input tags */
    width: 270px; /* Set the width of the input elements */
    height: 30px;
    border-radius: 20px;
    background: #E7F7FF;
    color: black;
}

.PlaceHolder1,
.PlaceHolder2,
.PlaceHolder3 {
    display: flex; /* Use flex to center the content horizontally */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: none;
    text-align: center;
}

.bold-inp-text {
    font-weight: bold;
}

.gap-head {
    height: 40px;
}

.submit-btn {
    width: 100px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #04D9FF;
    border: none;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #45a049; /* Change the background color on hover */
}