.unhealthy-behaviors-like {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Saira SemiCondensed';
    }
    .unhealthy-behaviors-like-misc {
    margin: 0;
    }
    .feeling-disconnected-from {
    font-size: 36px;
    font-family: 'Saira SemiCondensed';
    }
    .why-do-i {
    font-size: 48px;
    font-family: 'Saira SemiCondensed';
    }
    .amira-r-martin {
    text-decoration: underline;
    }
    .amira-r-martin-lcsw-r {
    color: inherit;
    }
    .lack-of-support-or-emotional-v {
    margin-bottom: 0px;
    }
    .poor-communication-or-conflict {
    margin: 0;
    padding-left: 48px;
    }
    .having-differing-values {
    font-family: 'Saira SemiCondensed';
    }
    .unhealthy-behaviors-like-container {
    position: absolute;
    top: 661px;
    left: 131px;
    color: inherit;
    display: inline-block;
    width: 1129px;
    height: 8292px;
    font-family: 'Saira SemiCondensed';
    }
    .what-to-do-container {
    position: absolute;
    top: 280px;
    left: 129px;
    font-size: 90px;
    font-family: 'Libre Bodoni';
    display: inline-block;
    width: 1183px;
    height: 324px;
    }
    .december-20-2023 {
    position: absolute;
    top: 254px;
    left: 125px;
    font-size: 15px;
    font-family: 'Lexend Giga';
    display: inline-block;
    width: 196px;
    height: 24px;
    }