/* PostCard.css */
.post-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 72px 0 10px;
    padding: 10px;
}
  
.post-image img {
    width: 100%;
    border-radius: 5px;
}
  
.post-content {
    margin-top: 10px;
}
  
.post-content h2 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
  
.post-content p {
    font-size: 14px;
    color: #555;
}
  
.post-content a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
  